[global]
[user]
	name = OLIMPO BONILLA RAMÍREZ
	email = boraolim@hotmail.com
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = boraolim@gmail.com
	smtppass = Obonilla_1980
	smtpserverport = 587
	to = boraolim@gmail.com  
[color]
	ui = true
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
